.cabecalho
{
    background-color: rgb(224, 23, 23);
    color: white;
    display: flex;
    justify-content: space-around;
}

.cabecalho-imagem
{
  width: 18%;  
}

.cabecalho-lista-item
{
  display: inline-block;
  margin: 0 16px;
}